
.base-wrapper{
    text-align: center;
    background: white;
}
.item-box {
    width: 25%;
    height: 380px;
    border: 1px solid #ddd;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;

    .box-icon{
        width: 100px;
        margin: 40px;
    }

    .template-name{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .box-text{
        display: inline-block;
        margin: 10px;
        color: #777;
    }

    .box-button{
        display: inline-block;
        border: 1px solid #ddd;
        padding: 5px 50px 5px 50px;
        margin: 15px;
        cursor:pointer;
    }

    .box-button:hover{
        background: #f2f2f2;
    }
}
