.template-wrapper{
    background: white;
}

.file-upload{
    font-size: 20px;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    padding: 5px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: white;
    border-radius: 5px;
}


.information-box{
    border-radius: 5px;
    display: inline-block;
    width: 50%;
    height: 700px;
    border: 1px solid #ddd;
    height: auto;
    float: left;
    margin-left: 12%;
    margin-top: 4%;
    
    .frm_row{
        display: flex;

        .frm_row_description{
            vertical-align: top;
            text-align: right;
            padding: 20px 0 20px 20px;

            
                .frm_label {
                    margin-top: 10px;
                    font-weight: 600;
                    line-height: 1.5;
                }
        }
        
        .frm_row_body{
            padding: 20px;
            min-width: 240px;

            .frm_text{
                border-radius: 4px;
                -webkit-transition: all, 0.15s;
                -moz-transition: all, 0.15s;
                transition: all, 0.15s;
                display: inline-block;
                height: 40px;
                background: #fff;
                padding: 0 6px;
                border: 1px solid #d7dde0;
                overflow: hidden;
                outline: none;
                width: 90% !important;
                max-width: 100% !important;
            }
            .frm_txt_area{
                height: auto !important;
            }
            .frm_date{
                width: 45% !important;
            }
        }

        .cover-container{
            width: 80%;
            margin: 0 auto;
            .cover-picture{
                background-image: url(https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetemplate/cover/conference.png);
                padding-bottom: 30%;
                background-position: center center;
                background-size: 700px 100px;
                margin: 6px;
                margin-left:20px; 
            }
            .profile-picture{
                background-image: url(https://s3.amazonaws.com/media.guidebook.com/upload/sX34UzP3ve5vp7fqE5DAQLMIHLJdCfAtNhxwOqog/PRTCF2HqvMyikMrwI7FMu2boomcpiAdBpVf7.png);
                background-color: white;
                height: 100px;
                width: 100px;
                position: relative;
                top: -80px;
                left: 40%;
                border-radius: 5px;
                border: 1px solid grey;
                position: relative;
            }
        }
    }
}

.save{
    float: right;
    margin-right: 50px;
    font-weight: 400;
    border: 0px;
    border-radius: 5px;
}

.detail-box{
    width: 28%;
    height: 700px;
    float: left;
    margin-top: 4%;
    padding: 30px;
    padding-top: 0;
    color: #757575;

    .detail-header{
        font-size: 22px;
        letter-spacing: 2px;
        color: black;
        margin-top: 0;
    }
}


.save-box{
    width: 50%;
    height: 100px;
    border: 1px solid #ddd;
    float: left;
    margin-left: 12%;
    .ftr_button{
        background: linear-gradient(to bottom, #58aadc, #2e94d4);
        border-color: #2F77A3;
        color: #fff;
        position: relative;
        line-height: 40px;
        padding: 0 16px;
        cursor: pointer;
        top: 30px;
        left: 70%;
        width:152px;
        border-radius: 5px;
    }
}
