.template-wrapper{
    background: white;
}

.file-upload{
    font-size: 20px;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    padding: 5px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: white;
    border-radius: 5px;
    width: 30px;
    overflow: hidden;
    height: 30px;
    outline: 0;
}


.spinner-overlay {
  p{
      font-size: 25px;
    z-index: 14;
    position: absolute;
    top: 28%;
    color: #fff;
  }
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: rgba(1, 1, 1, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner {
        width: 100px;
        height: 100px;
        position: relative;
        .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 200px;
  height: 200px;
  
  margin-top: -100px;
  margin-left: -100px;

}


/* The dot */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;

  width: 160px;
  height: 100px;
  
  margin-top: -50px;
  margin-left: -80px;

  border-radius: 5px;

  background-color: #1e3f57;

  transform-type: preserve-3d;

  animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
}

.dot:nth-child(2) {
  z-index: 11;
  
  width: 150px;
  height: 90px;
  
  margin-top: -45px;
  margin-left: -75px;
  
  border-radius: 3px;
  
  background-color: #439FD8;
  
  animation-name: dot2;
}

.dot:nth-child(3) {
  z-index: 12;
  
  width: 40px;
  height: 20px;
  
  margin-top: 50px;
  margin-left: -20px;
  
  border-radius: 0 0 5px 5px;
  
  background-color: #6bb2cd;
  
  animation-name: dot3;
}

@keyframes dot1 {
  3%, 97% {
    width: 160px;
    height: 100px;

    margin-top: -50px;
    margin-left: -80px;
  }
  30%, 36% {
    width: 80px;
    height: 120px;

    margin-top: -60px;
    margin-left: -40px;
  }
  63%, 69% {
    width: 40px;
    height: 80px;

    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2 {
  3%, 97% {
    width: 150px;
    height: 90px;

    margin-top: -45px;
    margin-left: -75px;
  }
  30%, 36% {
    width: 70px;
    height: 96px;

    margin-top: -48px;
    margin-left: -35px;
  }
  63%, 69% {
    width: 32px;
    height: 60px;

    margin-top: -30px;
    margin-left: -16px;
  }
}

@keyframes dot3 {
  3%, 97% {
    width: 40px;
    height: 20px;

    margin-top: 50px;
    margin-left: -20px;
  }
  30%, 36% {
    width: 8px;
    height: 8px;

    margin-top: 49px;
    margin-left: -5px;
    
    border-radius: 8px;
  }
  63%, 69% {
    width: 16px;
    height: 4px;

    margin-top: -37px;
    margin-left: -8px;
    
    border-radius: 10px;
  }
}
    }
}

.information-box{
    border-radius: 5px;
    display: inline-block;
    width: 50%;
    height: 700px;
    border: 1px solid #ddd;
    height: auto;
    float: left;
    margin-left: 12%;
    margin-top: 4%;
    
    .frm_row{
        display: flex;

        .frm_row_description{
            vertical-align: top;
            text-align: right;
            padding: 20px 0 20px 20px;

            
                .frm_label {
                    margin-top: 10px;
                    font-weight: 600;
                    line-height: 1.5;
                }
        }
        
        .frm_row_body{
            padding: 20px;
            min-width: 240px;

            .frm_text{
                border-radius: 4px;
                -webkit-transition: all, 0.15s;
                -moz-transition: all, 0.15s;
                transition: all, 0.15s;
                display: inline-block;
                height: 40px;
                background: #fff;
                padding: 0 6px;
                border: 1px solid #d7dde0;
                overflow: hidden;
                outline: none;
                width: 90% !important;
                max-width: 100% !important;
            }
            .frm_txt_area{
                height: auto !important;
            }
            .frm_date{
                width: 45% !important;
            }
        }

        .cover-container{
            width: 80%;
            margin: 0 auto;
            .cover-picture{
                background-image: url(https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetemplate/cover/conference.png);
                padding-bottom: 30%;
                background-position: center center;
                //background-size: 700px 100px;
                background-size: contain;
                margin: 6px;
                margin-left:20px; 
            }
            .profile-picture{
                background-image: url(https://s3.amazonaws.com/media.guidebook.com/upload/sX34UzP3ve5vp7fqE5DAQLMIHLJdCfAtNhxwOqog/PRTCF2HqvMyikMrwI7FMu2boomcpiAdBpVf7.png);
                background-color: white;
                background-size: contain;
                height: 100px;
                width: 100px;
                position: relative;
                top: -80px;
                left: 40%;
                border-radius: 5px;
                border: 1px solid grey;
                position: relative;
            }
        }
    }
}

.save{
    float: right;
    margin-right: 50px;
    font-weight: 400;
    border: 0px;
    border-radius: 5px;
}

.detail-box{
    width: 28%;
    height: 700px;
    float: left;
    margin-top: 4%;
    padding: 30px;
    padding-top: 0;
    color: #757575;

    .detail-header{
        font-size: 22px;
        letter-spacing: 2px;
        color: black;
        margin-top: 0;
    }
}


.save-box{
    width: 50%;
    height: 100px;
    border: 1px solid #ddd;
    float: left;
    margin-left: 12%;
    .ftr_button{
        background: linear-gradient(to bottom, #58aadc, #2e94d4);
        border-color: #2F77A3;
        color: #fff;
        position: relative;
        line-height: 40px;
        padding: 0 16px;
        cursor: pointer;
        top: 30px;
        left: 70%;
        width:152px;
        border-radius: 5px;
    }
}
