* {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.75px; }

@keyframes boxSpin {
  0% {
    transform: translate(-10px, 0px); }
  25% {
    transform: translate(10px, 10px); }
  50% {
    transform: translate(10px, -10px); }
  75% {
    transform: translate(-10px, -10px); }
  100% {
    transform: translate(-10px, 10px); } }
@keyframes shadowSpin {
  0% {
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00; }
  25% {
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00; }
  50% {
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00; }
  75% {
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00; }
  100% {
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00; } }
#loader {
  z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite; }

.menuContainer .menuItem {
  border-style: none; }
  .menuContainer .menuItem .icon img {
    margin: 0 10px;
    vertical-align: middle;
    width: 30px;
    height: 30px; }
  .menuContainer .menuItem .name {
    flex: 1;
    font-weight: 600;
    vertical-align: middle; }

.card {
  position: relative; }
  .card .logo {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    display: inline-block;
    padding: 5%; }
    .card .logo img {
      width: 70px;
      height: 70px; }
  .card .detail {
    color: black;
    float: right;
    width: 70%;
    padding: 10px; }
    .card .detail .title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px; }
    .card .detail .shortDesc {
      font-size: 12px; }

.sponsorDetailsContainer .wall img {
  width: 100%; }
.sponsorDetailsContainer .logo img {
  height: 75px;
  width: 75px;
  margin-top: -50px;
  background: white;
  box-shadow: 0 1px 7px black;
  border-radius: 5px;
  margin-left: 20px; }
.sponsorDetailsContainer .title {
  font-size: 30px;
  text-align: -webkit-center;
  padding: 20px;
  margin-bottom: 20px;
  font-weight: 500; }
.sponsorDetailsContainer .longDesc {
  padding: 20px;
  text-align: justify;
  margin-top: -20px; }
.sponsorDetailsContainer .site {
  padding: 20px;
  text-align: center; }
  .sponsorDetailsContainer .site i {
    vertical-align: super;
    font-size: 20px; }
  .sponsorDetailsContainer .site a {
    text-decoration: none;
    font-size: 20px; }
.sponsorDetailsContainer .social img {
  width: 30px;
  height: 30px;
  margin-left: 65px; }

.speakersContainer .speaker {
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin: 20px; }
  .speakersContainer .speaker .pic {
    text-align: -webkit-center;
    margin-top: 10px; }
    .speakersContainer .speaker .pic img {
      width: 120px;
      border-radius: 50%;
      height: 120px; }
  .speakersContainer .speaker .name {
    font-size: 17px;
    font-weight: 600;
    text-align: -webkit-center;
    margin-bottom: 10px; }
  .speakersContainer .speaker .desc {
    text-align: justify;
    padding: 20px; }
  .speakersContainer .speaker .social img {
    width: 30px;
    height: 30px;
    margin-left: 85px; }

.listContainer .list {
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 15px; }
  .listContainer .list .title {
    border-bottom: 1px solid grey;
    margin-bottom: 12px;
    padding: 5px;
    font-size: 15px;
    font-weight: 600; }
  .listContainer .list .desc .name {
    width: 50%; }
  .listContainer .list .desc .value {
    width: 50%; }

.sessionsContainer .sessionGroup .groupHeading {
  background-color: #F7F7F8;
  height: 40px;
  text-align: -webkit-center;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px; }
.sessionsContainer .sessionGroup .sessions {
  border-left: 4px solid black;
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 20px; }
  .sessionsContainer .sessionGroup .sessions a {
    text-decoration: none !important;
    color: black; }
    .sessionsContainer .sessionGroup .sessions a .title {
      font-size: 17px;
      font-weight: 600;
      color: grey; }
    .sessionsContainer .sessionGroup .sessions a .shortDesc {
      font-size: 15px;
      font-weight: lighter; }

.sessionDetailsContainer .wall img {
  width: 100%;
  height: 180px; }
.sessionDetailsContainer .content {
  padding: 20px; }
  .sessionDetailsContainer .content .title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: grey;
    margin: 15px 0px; }
  .sessionDetailsContainer .content .time, .sessionDetailsContainer .content .location {
    display: -webkit-inline-box;
    width: 100%;
    position: relative;
    margin: 5px 0; }
    .sessionDetailsContainer .content .time i, .sessionDetailsContainer .content .location i {
      font-size: 22px;
      color: #2B7489;
      margin-right: 15px; }
    .sessionDetailsContainer .content .time .name, .sessionDetailsContainer .content .location .name {
      width: 35%;
      font-weight: bolder; }
    .sessionDetailsContainer .content .time .value, .sessionDetailsContainer .content .location .value {
      width: 45%;
      text-transform: uppercase; }
  .sessionDetailsContainer .content .presenters {
    margin-bottom: 10px; }
    .sessionDetailsContainer .content .presenters .heading {
      font-weight: bolder; }
      .sessionDetailsContainer .content .presenters .heading i {
        font-size: 22px;
        color: #2B7489;
        margin-right: 15px; }
    .sessionDetailsContainer .content .presenters .value {
      width: 50%;
      display: inline-block;
      text-align: -webkit-center; }
      .sessionDetailsContainer .content .presenters .value .name {
        display: block; }
      .sessionDetailsContainer .content .presenters .value .pic img {
        border-radius: 50%;
        height: 75px; }
  .sessionDetailsContainer .content .desc {
    margin-top: 20px;
    text-align: justify;
    font-size: 12px; }

/*# sourceMappingURL=style.css.map */
