<ion-view view-title="Session Detail">
    <ion-content class="sessionDetailsContainer">
        <div class="wall">
           <img src="img/sessions/{{currentSession.tracks}}.png">
        </div>
        <div class="content">
            <div class="title">{{currentSession.name}}</div>
            <div class="time">
                <i class="ion-clock"></i>
                <div class="name">Timings</div>
                <div class="value">{{currentSession.timeStart}} - {{currentSession.timeEnd}}</div>
            </div>
            <div class="location">
                <i class="ion-location"></i>
                <div class="name loc">Location</div>
                <div class="value">{{currentSession.location}}</div> 
            </div>
            <div class="presenters" ng-if="currentSession.pName1">
                <div class="heading"><i class="ion-mic-c"></i><span class="pre">Presenters</span></div>
                <span class="value">
                    <span class="pic">
                        <img src="img/sessions/{{currentSession.pPic1}}" />
                    </span>
                    <span class="name"> {{currentSession.pName1}} </span>
                </span>
                <span class="value">
                    <span class="pic">
                        <img src="img/sessions/{{currentSession.pPic2}}" />
                    </span>
                    <span class="name"> {{currentSession.pName2}} </span>
                </span>
            </div>
            <div class="desc"> {{currentSession.description}}</div>
        </div>
   </ion-content>
</ion-view>
