<ion-view view-title="Speakers">
  <ion-content>
    <div class="speakersContainer">
      <div class="speaker" ng-repeat="speaker in Speakers">
        <div class="pic">
          <img src="{{speaker.pic}}" />
        </div>
        <div class="name">
          {{ speaker.name}}
        </div>
        <div class="desc">
          {{ speaker.desc}}
        </div>
         <div class="social">
            <img src="img/menu/fb.png"></img>
            <img src="img/menu/twitter.png"></img>
       </div>
      </div>
    </div>
  </ion-content>
</ion-view>
