<div class="builder-container">
    <div class="toggle-container">
        <div class="button-wrapper">
            <span class="selected-button button home"  ng-click="toggleButton('home')">Home</span>
            <span class="button feature" ng-click="toggleButton('feature')">Features</span>
        </div>
    </div>
    <div class="color-palette">
        <div class="header">CHOOSE THEME</div>
        <div class="color-box" ng-repeat="colors in colorPalette" style="background:{{colors.BG}};color:{{colors.COLOR}}" ng-click="applyTheme(colors.BG,colors.COLOR)">{{colors.BG}}</div>
    </div>
    <div class="phone-shell" ng-mouseover="showFeatureOverlay()" ng-mouseleave="hideFeatureOverlay()">
        <div class="app-workarea">
            <div class="feature-overlay">
                <div ng-click="showSlideIn('features')">+</div>
            </div>
            <div class="modules">
                <div class="side-menu">
                    <div class="side-menu-items" ng-repeat="module in modules" ng-click="showSlideIn(module.ID)" 
                    drag-to-reorder="modules">
                        <div class="remove-module" ng-click="removeFeatureFromSideMenu(module.ID)" >x</div>
                        <img src="/assets/img/menu/{{module.ICON}}" style="height: 30px;margin-left: 10px;">
                         {{module.TITLE}}
                    </div>
                </div>
			</div>
        </div>
    </div>
    <div class="slide-in">
        <div class="features content"  >
            <div class="text-strong">Features</div>
            <div class="text-weak">Add a new feature to your guide!</div>
            <div class="close-features" ng-click="hideSlideIn()" >X</div>
            <div class="features-wrapper">
                    <div class="features-items" ng-repeat="(key, features) in featureModules"> 
                        <img src="/assets/img/menu/{{features.ICON}}" class="feature-icon">
                        <div class="feature-text">{{features.TITLE}}</div>
                        <div class="desc-text">{{features.DESC}}</div>
                        <div class="add-feature" ng-click="addFeatureToSideMenu(key)" >Add</div>
                    </div>
            </div>
        </div>
        <div class="SCHEDULES content"  style="display:none;" >
            <div class="module-header">
                 <img src="/assets/img/menu/{{featureModules.SCHEDULES.ICON}}" class="module-icon">
                 <input type="text" class="module-name" ng-model="featureModules.SCHEDULES.TITLE">
            </div>
            <label class="is-home">
                <input type="checkbox" ng-model="featureModules.SCHEDULES.HOME" ng-change="handleIsHome('SCHEDULES')">
                 Set as Home</label>
            <div class="close-features" ng-click="hideSlideIn()" >X</div>
            <div class="buld-upload">
                <input class="choose-file" type="file" file-reader="uploadFile.file.file" onchange="angular.element(this).scope().fetchData()" required/>
                <div class="upload-button" ng-click="uploadDataToBackend('Sessions')">Bulk Import</div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Name</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Location</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Description</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <textarea class="module_text module_text_area" rows="6"></textarea>
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Presenter Name</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Presenter Image</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="file" class="module_text">
                </div>
            </div>
        </div>
        <div class="SPONSORS content"  style="display:none;"  >
            <div class="module-header">
                 <img src="/assets/img/menu/{{featureModules.SPONSORS.ICON}}" class="module-icon">
                 <input type="text" class="module-name" ng-model="featureModules.SPONSORS.TITLE">
            </div>
            <label class="is-home">
                <input type="checkbox" ng-model="featureModules.SPONSORS.HOME" ng-change="handleIsHome('SPONSORS')">
                 Set as Home</label>
            <div class="close-features" ng-click="hideSlideIn()" >X</div>
            <div class="buld-upload">
                <input class="choose-file" type="file" file-reader="uploadFile.file.file" onchange="angular.element(this).scope().fetchData()" required/>
                <div class="upload-button" ng-click="uploadDataToBackend('Sponsors')">Bulk Import</div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Name</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Logo</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="file" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Header</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="text" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Description</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <textarea class="module_text module_text_area" rows="6"></textarea>
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Url</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div>
        </div>
        <div class="SPEAKERS content"  style="display:none;" >
            <div class="module-header">
                 <img src="/assets/img/menu/{{featureModules.SPEAKERS.ICON}}" class="module-icon">
                 <input type="text" class="module-name" ng-model="featureModules.SPEAKERS.TITLE">
            </div>
            <label class="is-home">
                <input type="checkbox" ng-model="featureModules.SPEAKERS.HOME" ng-change="handleIsHome('SPEAKERS')">
                 Set as Home</label>
            <div class="close-features" ng-click="hideSlideIn()" >X</div>
            <div class="buld-upload">
                <input class="choose-file" type="file" file-reader="uploadFile.file.file" onchange="angular.element(this).scope().fetchData()" required/>
                <div class="upload-button" ng-click="uploadDataToBackend('Speakers')">Bulk Import</div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Name</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Short Description</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <textarea class="module_text module_text_area" rows="4"></textarea>
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Long Description</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <textarea class="module_text module_text_area" rows="6"></textarea>
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Url</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div>
             <div class="module_row">
                <div class="add-button">Add Speakers</div>
            </div>
        </div>
        <div class="GALLERY content"  style="display:none;" >
            <div class="module-header">
                 <img src="/assets/img/menu/{{featureModules.GALLERY.ICON}}" class="module-icon">
                 <input type="text" class="module-name" ng-model="featureModules.GALLERY.TITLE">
            </div>
            <label class="is-home">
                <input type="checkbox" ng-model="featureModules.GALLERY.HOME" ng-change="handleIsHome('GALLERY')">
                 Set as Home</label>
            <div class="close-features" ng-click="hideSlideIn()" >X</div>
            <div class="buld-upload">
                <input class="choose-file" type="file" file-reader="uploadFile.file.file" onchange="angular.element(this).scope().fetchData()" required/>
                <div class="upload-button" ng-click="uploadDataToBackend('Gallery')">Bulk Import</div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Source</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="file" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Subject</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div> 
        </div>
        <div class="CUSTOM_LIST content"   style="display:none;" >
            <div class="module-header">
                 <img src="/assets/img/menu/{{featureModules.CUSTOM_LIST.ICON}}" class="module-icon">
                 <input type="text" class="module-name" ng-model="featureModules.CUSTOM_LIST.TITLE">
            </div>
            <label class="is-home">
                <input type="checkbox" ng-model="featureModules.CUSTOM_LIST.HOME" ng-change="handleIsHome('CUSTOM_LIST')">
                 Set as Home</label>
            <div class="close-features" ng-click="hideSlideIn()" >X</div>
            <div class="buld-upload">
                <input class="choose-file" type="file" file-reader="uploadFile.file.file" onchange="angular.element(this).scope().fetchData()" required/>
                <div class="upload-button" ng-click="uploadDataToBackend('List')">Bulk Import</div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Title</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Heading</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text">
                </div>
            </div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>Description</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <textarea class="module_text module_text_area" rows="6"></textarea>
                </div>
            </div>
        </div>
        <div class="FB content"  style="display:none;" >
            <div class="module-header">
                 <img src="/assets/img/menu/{{featureModules.FB.ICON}}" class="module-icon">
                 <input type="text" class="module-name" ng-model="featureModules.FB.TITLE">
            </div>
            <label class="is-home">
                <input type="checkbox" ng-model="featureModules.FB.HOME" ng-change="handleIsHome('FB')">
                 Set as Home</label>
            <div class="close-features" ng-click="hideSlideIn()" >X</div>
            <div class="module_row">
                <div class="module_row_description " style="width: 30%;">
                    <p class="module_label"><span>FB Page Link</span></p>
                </div>
                <div class="module_row_body " style="width: 50%;">
                    <input type="input" class="module_text" ng-model="featureModules.FB.LINK">
                </div>
            </div>
        </div>
        <div class="MAP content"  style="display:none;" >
            <div class="module-header">
                 <img src="/assets/img/menu/{{featureModules.MAP.ICON}}" class="module-icon">
                 <input type="text" class="module-name" ng-model="featureModules.MAP.TITLE">
            </div>
            <label class="is-home">
                <input type="checkbox" ng-model="featureModules.MAP.HOME" ng-change="handleIsHome('MAP')">
                 Set as Home</label>
            <div class="close-features" ng-click="hideSlideIn()" >X</div>
        </div>
    </div>
    <div class="generate-container">
        <div class="download-wrapper">
            <span class="download-button" ng-click="generatePreview()">Generate Web Preview</span>
            <span class="download-button" ng-click="previewInDevice()">Preview in Device</span>
            <span class="download-button"> <a href="http://localhost:8080/downloadapk" target="_blank">Download APK</a></span>
            <span class="download-button"> <a href="http://localhost:8080/downloadCode" target="_blank">Download Source</a></span>
        </div>
    </div>
</div>
<toaster-container toaster-options="{'time-out': 3000,'position-class': 'toast-bottom-left', 'animation-class': 'toast-bottom-left'}"></toaster-container>