<header>
	    <div class="app-header">
			<p>Welcome!!</p>
			<p class="desc">What kind of app are you looking to build?</p>
		</div>
</header>
<div class="base-wrapper" ng-controller="HomeController">
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/event-icon_200x200.png" class="box-icon">
		</span>
		<div class="template-name">Event Template</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button"  ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Select & view templates</span>
	</div>
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/campus-icon_200x200.png" class="box-icon">
		</span>
		<div class="template-name">Campus Template</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button" ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Select & view templates</span>
	</div>
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/enterprise-icon_200x200.png" class="box-icon">
		</span>
		<div class="template-name">Enterprise Template</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button" ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Select & view templates</span>
	</div>
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/audio_tours_template_p.png" class="box-icon">
		</span>
		<div class="template-name">Tour Template</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button" ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Select & view templates</span>
	</div>
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/places-icon_200x200.png" class="box-icon">
		</span>
		<div class="template-name">Place Template</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button" ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Select & view templates</span>
	</div>
</div>