<header>
	    <div class="app-header">
			<p class="title">Hello!!</p>
			<p class="sub-title">What kind of App you're looking to build?</p>
		</div>
</header>
<div class="base-wrapper" ng-controller="HomeController">
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/event-icon_200x200.png" class="box-icon">
		</span>
		<div class="template-name">Events and Conferences</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button"  ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Start with this</span>
	</div>
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/campus-icon_200x200.png" class="box-icon">
		</span>
		<div class="template-name">Education</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button" ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Start with this</span>
	</div>
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/enterprise-icon_200x200.png" class="box-icon">
		</span>
		<div class="template-name">Business Enterprise</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button" ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Start with this</span>
	</div>
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/audio_tours_template_p.png" class="box-icon">
		</span>
		<div class="template-name">Interactive Multimedia</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button" ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Start with this</span>
	</div>
	<div class="item-box">
		<span>
			<img src="https://s3.amazonaws.com/media.guidebook.com/upload/gears/guidetype/icon/places-icon_200x200.png" class="box-icon">
		</span>
		<div class="template-name">Tours and Guides</div>
		<span class="box-text">
			Build Mobile Apps for conferences, trade shows, festivals, or any other sort of live event. Big or small, you can make an App for any event in minutes and publish it directly to the store.
		</span>
		<span class="box-button" ng-mouseover="addBoxShadow($event)" ng-mouseleave="removeBoxShadow($event)" ng-click="navigateToTemplate()">Start with this</span>
	</div>
</div>