 <header>
	    <div class="app-header">
			<p class="title">Welcome to Dream Builder!!</p>
			<p class="sub-title">Ready to experience our ingenious new way to build apps?</p>
		</div>
</header>
 <div class="container" ng-controller="LoginController">
    <h1 class="welcome text-center">Welcome to <br> App Builder</h1>
        <div class="card card-container">
        <h2 class='login_title text-center'>Login</h2>
        <hr>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <p class="input_title">Email</p>
                <input type="text" id="inputEmail" class="login_box" placeholder="abc@xyz.com" ng-model="LoginObj.userName" required autofocus>
                <p class="input_title">Password</p>
                <input type="password" id="inputPassword" class="login_box" placeholder="******" ng-model="LoginObj.password" required>
                <div id="remember" class="checkbox">
                    <label>
                        
                    </label>
                </div>
                <button class="btn btn-lg btn-primary" type="submit" ng-click="loginUser()">Login</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
</div><!-- /container -->