<header>
	    <div class="app-header">
			<p class="title">Let's get started.</p>
			<p class="sub-title">Tell us a bit about your app....</p>
		</div>
</header>
<div class="template-wrapper" ng-controller="TemplateController">
    <div class="information-box">
       <div class="frm_row ">
           <div class="frm_row_description " style="width: 30%;">
               <p class="frm_label"><span>Name</span></p>
            </div>
            <div class="frm_row_body " style="width: 70%;">
                <input type="input" placeholder="Name your guide" class="frm_text" name="name">
            </div>
       </div>
       <div class="frm_row ">
           <div class="frm_row_description " style="width: 30%;">
               <p class="frm_label"><span>Description</span></p>
            </div>
            <div class="frm_row_body " style="width: 70%;">
                <input type="input" placeholder="Name your guide" class="frm_text" name="name">
            </div>
       </div>
       <div class="frm_row ">
           <div class="frm_row_description " style="width: 30%;">
               <p class="frm_label"><span>Package Name</span></p>
            </div>
            <div class="frm_row_body " style="width: 70%;">
                <input type="input" placeholder="Name your guide" class="frm_text" name="name">
            </div>
       </div>
        <div class="frm_row ">
           <div class="frm_row_description " style="width: 30%;">
               <p class="frm_label"><span>Location</span></p>
            </div>
            <div class="frm_row_body " style="width: 70%;">
                <input type="input" placeholder="Name your guide" class="frm_text" name="name">
            </div>
       </div>
       <div class="frm_row ">
           <div class="frm_row_description " style="width: 30%;">
               <p class="frm_label"><span>Duration</span></p>
            </div>
            <div class="frm_row_body " style="width: 70%;">
                <input type="date" placeholder="Start Date" class="frm_text frm_date" name="name">
                <input type="date" placeholder="End Date" class="frm_text frm_date" name="name">
            </div>
       </div>
    </div>
    <div class="save-box">
        <button type="submit" class="ftr_button" ng-click="loadAppBuilderPage()">Save and Continue</button>
    </div>
</div>